@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.main{
	background-image: url("https://hblimg.mmtcdn.com/content/hubble/img/goa/mmt/activities/m_Baga%20Beach_5_l_380_642.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.h1{
	padding: 10px;
}
h1{
	font-family: roboto;
}
p{
	font-family: bree serif;
}
.f1{
	border: 1px solid;
	border-style: none;
	border-radius: 8px;
	background-color: white;
	margin: 15px;
}
img{
	padding: 20px;
}
button{
	border: 1px solid;
	border-style: none;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}
.but{
	margin: 20px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	background-color: chocolate;
}