@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bgimg{
	background-image: url("http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQj03S23J2gCxSsTwyaCeMw3u6-B36vGDZ9voA0v5lsuafmqV2LHkxjhKJsLg_deStIwWl1yloRGTA4VLxtrxQ");
	height: 100vh;
	background-size: cover;
}
.main{
	border: 1px solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
.but{
	color: white;
	background-color: black;
	border: 1px solid;
	border-style: none;
	border-radius: 5px;
}